/* This file holds all the classes shared by the zig zag datas in the portfolio pages */
.buttonHolder 
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttonHolderVertical
{
    margin-top: 10%;
}

/* =============================== Start Zig Zag Component  =================================*/

/* -------------- Description Styling --------------------- */
.descriptionWrapper
{
    /* Flex */
    display: flex;
    flex-direction: column;

    /* Padding */
    padding: 5%;
}


.descriptionTitle
{
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

/* =============================== End Zig Zag Component  =================================*/