#contentHolder
{
    height: 9em;

    display: flex;
    justify-content: center;
    align-items: center;
}

#contentHolder p 
{
    margin: 0 0;
    height: auto;
    width: 100%;
}

#content
{
    text-align: center; 
}