// === Mobile ====
.post-mainpage-desktop
{
  display: none;
}

.post-mainpage-table-cell img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.post-mainpage-table-cell p {
  width: 100%;
  background-color:aquamarine;
  text-align: center;
}

// === Desktop ====
@media only screen and (min-width: 600px) {
  .post-mainpage-mobile
  {
    display: none;
  }

  .post-mainpage-desktop
  {
    display: block;
  }
    
  .post-mainpage-basic-page-wrapper h1 {
      padding-top: 5vh;
      padding-bottom: 5vh;
    }
  .post-mainpage-basic-page-wrapper {
    background-color: azure;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
  }

  .post-mainpage-tablerow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .post-mainpage-table {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .post-mainpage-table-cell{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .post-mainpage-table-cell img{
    width: 15vw;
    height: 15vh;
    object-fit: cover;

  }

  .post-mainpage-table-cell p {
    width: 100%;
    background-color:aquamarine;
    text-align: center;
  }
}