.descriptionRoot
{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.subjectRoot
{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}