.descriptionRoot
{
    text-align: center;

    /* Colours */
    background-color: #393939;

    margin-top: 5%;

    /* Padding */
    padding-top: 2%;
    padding-bottom: 2%;
}

.subjectRoot
{
    margin-bottom: 5%;
}

