.sideBySideRoot
{
    display: flex;
}

/* .textDescription
{
    margin: 0% 2.5%;
} */

/* ============== Start Direction Media Query ================ */

/* ----------- Mobile ------------- */
.notFlipped
{
    flex-direction: column;
}

.flipped
{
    flex-direction: column-reverse;
}

.sideBySideElement
{
    width: auto;
}


/* ----------- Tablet & Desktop ------------- */
@media only screen and (min-width: 600px),(min-width: 1024px) {

    .notFlipped
    {
        flex-direction: row;
    }
    
    .flipped
    {
        flex-direction: row-reverse;
    }

    .sideBySideElement
    {
        width: 50%;
    }
}


/* ============== End Direction Media Query ================ */
