/* The navbar bg will be the parent of every sub classes/ids */
#navbarBg
{
    /*============ Debug =========== */
    /* background-color:#393939; */

    /*============ Sizing =========== */
    height:5em;

    /*============ Ordering =========== */
    display: flex;
    position: fixed;
    top: 0;
    z-index: 10;
}

#navbarEmptySpace
{
    height: 5em;
}

/* Links css will account for unclicked, clicked, hover states */
/* All the links inside of the linksHolder */
#linksHolder 
{
    display: flex;
    justify-content: flex-end;
}

/* ==================== LINK STYLE =========================== */
.link :hover
{
    color: #00D4FE;
}

.link a 
{
    /* background-color: teal; */

    /*============ Sizing =========== */
    width: auto;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 2em;
    padding-bottom: 2em;

    /*============ Ordering =========== */
    display: flex;
    justify-content: center;
    align-items: center;
}
