

.readMoreTextButton
{
    background-color: #393939;
}

/* --------- Mobile ----------------- */

/* --------- Tablet ----------------- */
@media only screen and (min-width:600px)
{
    .readMoreTextButton
    {
       padding: 4%;
       font-size: large;
    }
}

/* --------- Desktop ----------------- */
@media only screen and (min-width:1024px)
{
    .readMoreTextButton
    {
       padding: 3.5%;
       font-size: initial;

    }
}
