.buttonHolder 
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttonHolderVertical
{
    margin-top: 10%;
}

/* -------------- Description Styling ----------------------*/
.descriptionWrapper
{
    /* Flex */
    display: flex;
    flex-direction: column;

    /* Padding */
    padding: 5%;
}


.descriptionTitle
{
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

