.pageContentRoot
{
    height: 100vh;
    
}

.sideBySideContentRoot
{
    margin: 5%;
    background-color: #5A5A5A;
    padding-right: 5%;
    padding-left: 5%;
}

/* ====================================== Form ========================================== */

.formRoot
{
    margin-top: 5%;
    margin-bottom: 5%;
}


.inputField
{
    margin-top: 5%;
    margin-bottom: 5%;

}

.inputField input
{
    width: 50%;
}

.inputField textarea
{
    width: 50%;
}


/* ====================================== Resume ========================================== */

