/* ====================================== Start Final Content ========================================== */

/* -------------------------- Mobile 600px X 480px -------------------------- */
.pageContentRoot
{
    height: 45em;
}



/* -------------------------- Tablet and Larger phones -------------------------- */
@media only screen and (min-width: 600px) and (min-height: 480px)
{
    .pageContentRoot
    {
        height: 60em;
        /* height: 92.5vh; */
    }
}


/* -------------------------- Desktop -------------------------- */
@media only screen and (min-width: 1024px)
{
    .pageContentRoot
    {
        height: 50em;
        /* height: 100vh; */
    }
}


.sideBySideContentRoot
{
    /* Debug */
    /* background-color: red; */
    margin: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

/* ====================================== End Final Content ========================================== */


/* ====================================== Start Form ========================================== */

.formRoot
{
    margin-top: 5%;
    margin-bottom: 5%;
}


.inputField
{
    margin-top: 5%;
    margin-bottom: 5%;

}

.inputField input
{
    width: 50%;
}

.inputField textarea
{
    width: 50%;
}

/* ====================================== End Form ========================================== */


/* ====================================== Start Resume ========================================== */
.resumeRoot
{
   display: flex;
   flex-direction: column;

  
}

.resumeRoot h4
{
    text-align: center;
}

/* For the Resume download button */
/* --------------------- Mobile --------------------- */
.resumeRoot
{
    align-items: center;

    /* Margin */
    margin-top: 20%;
}

#resumeDownload
{
    margin-top: 5%;
}

/* --------------------- Desktop & Tablet --------------------- */
@media only screen and (min-width:1024px),(min-width:600px)
{
    #resumeDownload
    {
        margin-top: 0%;

        margin-left: 5%;
    }

    .resumeRoot
    {
       flex-direction: row;
       align-items: initial;

       /* Margin */
       margin-top: 0%;
    }
}

/* ====================================== End Resume ========================================== */
