---
layout: default

# --- Page specific variables ---
# title: "input your title here"
# title_align: "left"
---
<!-- <link rel="stylesheet" href={{"assets/css/default.css" | relative_url }}> -->

<style>
  h1 {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  .basic-page-wrapper
  {
    background-color: azure;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
  }
</style>
<div class="basic-page-wrapper" style="text-align:{{page.title_align}};">
    <h1>{{page.title}}</h1>
    {{content}}
</div>
