<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{site.title}}</title>
  <link rel="stylesheet" href={{"assets/css/main.css" | relative_url }}>
</head>

<body>
  <div>
    <!-- Mobile version of navbar -->
    <nav class="nav-mobile">
      <button id="nav-mobile-menu-button">
        <!-- THese are the three bars that makes the 'hamburgers' -->
        <div></div>
        <div></div>
        <div></div>
      </button>

      <div id="nav-mobile-list">
        <ul>
          {% for item in site.data.navbar %}
          <li class="{% if page.url == item.link %} nav-active {% endif %}">
            <a href="{{site.baseurl}}{{item.link}}"> {{item.title}} </a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <button id="nav-mobile-close-menu-button"></button>
    </nav>

    <!-- Dekstop version of navbar -->
    <nav class="col-12 col-s-12 nav-desktop">
      <ul>
        {% for item in site.data.navbar %}
        <li class="{% if page.url == item.link %} nav-active {% endif %}">
          <a href="{{site.baseurl}}{{item.link}}"> {{item.title}} </a>
        </li>
        {% endfor %}
      </ul>
    </nav>

    <div id="content-wrapper">{{content}}</div>

    <!-- Add footerhere -->
    <footer>
      <div>
        <p id="copyright"></p>
      </div>
    </footer>
  </div>

  <script>
    function openNavBar_TransitionStart() {
      //show mobile list panel
      var element = document.getElementById("nav-mobile-list");
      element.style.right = "0%"; // new position cause the mobile list is fat and pushes the element to the right
      element.style.width = "50vw";

      //show the hidden close menu button
      var closeMenuButton = document.getElementById("nav-mobile-close-menu-button");
      closeMenuButton.style.opacity = "0.5";
      closeMenuButton.style.zIndex = "1";//Put infront of all the other uis (but not infront of the menu list since its zindex = 2)
    }

    function closeNavBar_TransitionStart() {
      //hide mobile list panel
      var element = document.getElementById("nav-mobile-list");
      element.style.right = "-50%";

      //hide menu button
      var closeMenuButton = document.getElementById("nav-mobile-close-menu-button");
      closeMenuButton.style.opacity = "0";

      closeMenuButton.addEventListener('transitionend', closeNavBar_TransitionEnd, { once: true })
    }

    function closeNavBar_TransitionEnd() {
      var closeMenuButton = document.getElementById("nav-mobile-close-menu-button");
      closeMenuButton.style.zIndex = "-10";//Put behind of all the other uis 
    }

    function code_block_copyCode(button) {
      const feedback = button.nextElementSibling; // Select the <pre> element
      const codeBlock = button.nextElementSibling.nextElementSibling; // Select the <pre> element
      const range = document.createRange();
      range.selectNode(codeBlock);
      window.getSelection().removeAllRanges(); // Clear current selection
      window.getSelection().addRange(range); // Select the code block


      try {
        // Copy the selected text to the clipboard
        const successful = document.execCommand('copy');
        const msg = successful ? 'Code copied to clipboard!' : 'Failed to copy code.';
        feedback.textContent = msg;
      } catch (err) {
        feedback.textContent = 'Oops, unable to copy!';
      }

      window.getSelection().removeAllRanges(); // Deselect the code

      // Clear the feedback message after 3 seconds
      setTimeout(() => {
        feedback.textContent = '';
      }, 3000);
    }


    //Set copyright date
    var currentDate = new Date();
    var year = currentDate.getFullYear();
    document.getElementById(
      "copyright"
    ).textContent = `©${year} by ${"{{site.name}}"}`;

    //Assign onclick event for menu button for mobile
    var openNavBar = document.getElementById("nav-mobile-menu-button");
    openNavBar.addEventListener("click", openNavBar_TransitionStart);

    //Assign onclick event for close menu button for mobile
    var closeNavMenuButton = document.getElementById("nav-mobile-close-menu-button");
    closeNavMenuButton.addEventListener("click", closeNavBar_TransitionStart);


  </script>
</body>

</html>