---
layout: default
title: "input your title here"
title-align: "left"

# === layout variables ===
# title:  "Haul Away!"
# date:   2024-04-29
# permalink: "/projects/polytechnic-games/haulaway-post"

# thumbnail: "https://raw.githubusercontent.com/bestcolour/Website/main/assets/image/HaulAway/Screenshot3.jpg"
# alt-text: "Haul Away Poster"
---

<style>
  h1 {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  .basic-page-wrapper
  {
    background-color: azure;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
  }
</style>
<div class="basic-page-wrapper" style="text-align:{{page.title-align}};">
    <h1>{{page.title}}</h1>
    <div>
      {{content}}
    </div>
</div>
