---
layout: default
# === Page Specific Variables ===
# title: "input your title here"
# title_align: "left"
# content_before_table: "i am content before table"

# --- table related ---
# table_datapath: "path-to-your-datafile.yml"
# table_col: 3

# --- data.yml example ---
#- url: "https://www.google.co.uk/"
#  thumbnail: "/assets/image/github-logo copy.png"
#  alt-text: "image of github"
#  title: "Go to github"
#  image-offset: 50% 75%


---

<div class="post-categorypage-basic-page-wrapper" style="text-align:{{page.title_align}};">
  <h1>{{page.title}}</h1>

  <div class="post-categorypage-before-table-content">
  {{page.content_before_table}}
  </div>

  <div class="post-mainpage-mobile">
 
    <div class="post-categorypage-table">
      <!-- Make sure that the post is not a date that has yet to occur yet else it wont show -->
    
      {% for post in site.data[page.table_datapath] %}
        <!-- IF (we are starting a new row) -->
        <div class="post-categorypage-tablerow">
          <div class="post-categorypage-table-cell">
            <a href="{{site.baseurl}}{{post.url}}">
              <img src="{{post.thumbnail}}" alt="{{post.alt-text}}" style="object-position:{{post.image-offset}}"/>
            </a>
            <p>{{post.title}}</p>
            <br>
          </div>
        </div>
        {% endfor %}
    
      </div>
  </div>
    

  <div class="post-categorypage-desktop">

  <div class="post-categorypage-table">
  <!-- Make sure that the post is not a date that has yet to occur yet else it wont show -->
  {%- assign colIndex = 0 -%}

  {% for post in site.data[page.table_datapath] %}
    <!-- IF (we are starting a new row) -->
    {%- if colIndex == 0 -%}
      <div class="post-categorypage-tablerow">
    {%-endif -%}

    <!-- IF (one row is completed, reset colIndex) -->
    {%- if colIndex >= page.table_col -%} 
      </div>

      <!-- Close the div tag and start a new row tag -->
      {%- assign colIndex = 0 -%}
      <!-- Else, we open the new table row div to start a new row -->
      <div class="post-categorypage-tablerow">

    {%- endif -%}
    <!-- ENDIF -->

    <div class="post-categorypage-table-cell">
      <a href="{{site.baseurl}}{{post.url}}">
        <img src="{{post.thumbnail}}" alt="{{post.alt-text}}" style="object-position:{{post.image-offset}}"/>
      </a>
      <p>{{post.title}}</p>
      <br>
    </div>
      
    {%- assign colIndex = colIndex | plus: 1 -%} 

    {% endfor %}

    <!-- close the div if the page table col-->
    {%- if colIndex < page.table_col -%}
    </div>
    {%-endif -%}

  </div>
  </div>

  </div>


  {{content}}
</div>
