---
layout: default
# === Page Specific Variables ===
# title: "input your title here"
# title_align: "left"
# content_before_table: "i am content before table"

# --- table related ---
# number_of_latest_posts: 6
# table_row: 2
# table_col: 3

---

<!-- This is the page which displays the a table of recent posts -->

<div
  class="post-mainpage-basic-page-wrapper"
  style="text-align:{{page.title_align}};"
>
  <h1>{{page.title}}</h1>

  <div>{{page.content_before_table}}</div>

  <div class="post-mainpage-mobile">

    <!-- Doing only one cell for mobile -->
    {% for post in site.posts %}
    <div class="post-mainpage-table-cell">
      <a href="{{site.baseurl}}{{post.url}}">
        <img src="{{post.thumbnail}}" alt="{{post.alt-text}}" />
      </a>
      <p>{{post.title}}</p>
      <br />
    </div>
    {% break %} 
    {% endfor %}

  </div>

  <div class="post-mainpage-desktop">
    <!-- IF Number of latest post is set > 0 -->
    {%- if page.number_of_latest_posts > 0 -%}

    <div class="post-mainpage-table">
      <!-- Make sure that the post is not a date that has yet to occur yet else it wont show -->
      {%- assign rowIndex = 0 -%} {%- assign colIndex = 0 -%}

      <!-- Open the row div for the very first index -->
      {% for post in site.posts %}

        <!-- IF (the number of posts to be displayed in the table exceeds) -->
        {%- if forloop.index0 >= page.number_of_latest_posts -%}
          </div>
          {% break %}
        {%-endif -%}
        <!-- ENDIF -->

        <!-- IF (we are starting a new row) -->
        {%- if colIndex == 0 -%}
          <div class="post-mainpage-tablerow">
        {%-endif -%}


        <!-- IF (one row is completed, reset colIndex and increment rowIndex) -->
        {%- if colIndex >= page.table_col -%}
          </div>

          <!-- Close the div tag and start a new row tag -->
          {%- assign rowIndex = rowIndex | plus: 1 -%} 
          {%- assign colIndex = 0 -%}

          <!-- If the table size (row x col) is exceeded, break -->
          {%- if rowIndex >= page.table_row -%} 
            {% break %} 
          {%- endif -%}
          <!-- ENDIF -->

        <!-- Else, we open the new table row div to start a new row -->
        <div class="post-mainpage-tablerow">
        {%- endif -%}
        <!-- ENDIF -->


        <!-- Add a post url and thumbnail -->
        <div class="post-mainpage-table-cell">
          <a href="{{site.baseurl}}{{post.url}}">
            <img src="{{post.thumbnail}}" alt="{{post.alt-text}}" />
          </a>
          <p>{{post.title}}</p>
          <br />
        </div>

        {%- assign colIndex = colIndex | plus: 1 -%} 
      
      {% endfor %}
    </div>
    
    {%- endif -%}
  </div>

  <!-- I need this extra div to make sure that the div with post-mainpage-desktop class closes properly and leave the {{content}} out of it -->
</div>
  {{content}}
</div>
