.imageSlideRoot
{
    position: relative;
}

.imageHolder
{
    /* -------- Flex ---------- */
    display: flex;
}

.imageSlideRoot img
{
    width: 100%;
    height:  100%;
}

.leftArrowBg
{
    cursor: pointer;

    /* ----- Position --------- */
    position: absolute;
    top: 50%;
    right: 90%;

    color: #EBE9E8;
}

.rightArrowBg
{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 90%;

    color: #EBE9E8;
}

.arrowImage
{
    position: absolute;
    top: 0%;
    right: 0%;
    color: #393939;
}


.slide
{
    opacity:0;
    transition-duration:1s ease;
    transform: scale(.95);
}

.slideActive
{
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1);
}